@import "tailwindcss";
@theme {
  --color-pink: #ff69b4;
}

body {
  color: var(--color-pink);
  background-color: black;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
